<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>手机</th>
        <th>注册日期</th>
        <th></th>
    </tr>
    <tr ng-repeat="data in datas" ng-class="{'active':!$odd}">
        <td>{{data.PATIENT_CD}}</td>
        <td>{{data.PATIENTNAME}}</td>
        <td>{{data.MOBILE}}</td>
        <td>{{data.REGIST_TIME | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td><a href="javascript:void(0);" ng-click="doEdit(data)"><span class="glyphicon glyphicon-edit"></span></a>  |  <a href="javascript:void(0);" ng-click="doModal(data)"><span class="glyphicon glyphicon-new-window"></span></a></td>
    </tr>
</table>
<div>
    <a ng-click="loadMore()">更多...</a>
</div>
<div>
    <uib-pagination total-items="count" ng-model="page" ng-change="loadData(true);" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" first-text="第一页" next-text="下一页" previous-text="上一页" last-text="最后一页"></uib-pagination>
</div>
